/* CSS used here will be applied after bootstrap.css */
html, body {
    height: 100%;
    align-items: baseline;
}
.content{
    padding-left: 200px;
}
#editor {
    margin-left: 200px !important;
    vertical-align: top;
    padding-right: 14px;
    padding-top: 80px;
    padding-bottom: 84px;
}
#content{
    min-height: 380px;
    background-color: #fff;
    border-right: 1px solid #f1f1f1;
    min-height: calc(100vh);
    -webkit-transition: opacity 250ms cubic-bezier(0.4,0,0.6,1);
    transition: opacity 250ms
}
#agenda-view {
    height: 100% !important;
    border-style: groove;
    vertical-align: top;
    padding-left: 44px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: inherit;
    margin-right: 100px;
}
.navbar-fixed-left {
    height: 100%;
    flex: 1;
    position: absolute !important;
    padding-bottom: inherit;
    border-radius: 0;
    height: 100%;
    opacity: .9;
    width: 150px;
    background: #222;
    z-index: 10000;
    float: none;
}

.navbar-fixed-left .navbar-nav > li a {
    height: 100%;
    display: block;
    text-decoration: none;
    padding-bottom: 50px;
    color: #999;
    float: left;
    width: 130px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;

}

.navbar-fixed-right {
    float: right;
    margin-bottom: 20px;
}